
@mixin btn {
    padding: 2px 50px 2px 50px;
    border-radius: 20px;
    background-color: $ofs_global_main_color;
    font-size: 15px;
    color: $main_baground_color;
    margin-bottom: 20px;
  };