@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
$main_baground_color:#ffffff;
$main_text_color: #45413e;
$main_font_family:'Lato', sans-serif;
$main_font_waight: 400;
$main_font_size: 14px;
$ofs_global_main_color: #84bc22;

$section_popular_items_bg_color:#262a32;
$section_popular_items_textColor:#2c3e50;
$section_popular_items_fontSize: 16px;
$section_popular_items_lineHeight: 18px;

$product_detailed_page_bg_color: #f1edea;